<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ac.za.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ac.za.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ac.za.tut.web.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ac.za.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>ac.za.tut.web.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>ac.za.tut.web.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReportServlet</servlet-name>
        <servlet-class>ac.za.tut.web.SubmitReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportsServlet</servlet-name>
        <servlet-class>ac.za.tut.web.ViewReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>ac.za.tut.web.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackStatusServlet</servlet-name>
        <servlet-class>ac.za.tut.web.TrackStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportServlet</servlet-name>
        <servlet-class>ac.za.tut.web.DeleteReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReportServlet</servlet-name>
        <url-pattern>/SubmitReportServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportsServlet</servlet-name>
        <url-pattern>/ViewReportsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/AnalyticsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackStatusServlet</servlet-name>
        <url-pattern>/TrackStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportServlet</servlet-name>
        <url-pattern>/DeleteReportServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
